h1,h2,h3,h4,h5,h6{
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

h1 { font-size: 1.5em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	color: #666;
}

strong{
	color: #000;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

form{
	margin-top: 20px;
}

input {
	padding: 10px;
	border-radius: 1px;
	border: 1px solid #000;
	background-color: #c2c2c2;
}

.form-control{
	background-color: #c2c2c2;
	border-radius: 1px;
	box-shadow: none;
}

input:hover{
	background-color: #c2c2c2;
}

textarea{
	border-radius: 6px;
	border: 1px solid #000;
}

textarea:hover{
	background-color: #666;
}

#btn{
	background: transparent;
	border: 1px solid #666;
	margin-top: 30px;
	border-radius: 6px;
	color: #000;
}

#btn:hover{
	background: #666;
	border: 1px solid #666;
	margin-top: 30px;
	border-radius: 6px;
	color: #fff;
}

footer{
	background-color: #666;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

@media (max-width: $screen-md-min){
	.pull-right{
		float: left;
	}

	form{
		margin-bottom: 150px;
	}
}