.block {
    position: relative;
    padding-top: calc(70px + 2%);
    padding-bottom: calc(70px + 2%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:not(.contrast) {
        background-color: #e3e3e3;

    }

    &:not(.contrast) + &:not(.contrast) {
        border-top: 1px solid #ddd;

        &:before { top: -1px; }
    }

    &-heading {
        font-size: 14px;
        letter-spacing: 0.8em;
        text-transform: uppercase;
    }

    &-subheading {
        font-size: 42px;
    }

    &-heading + &-subheading {
        margin-top: 15px;

        .contrast & {
            color: #fff;
        }
    }

    &-btn {
        padding: 1em 3.5em;
        line-height: 1;

        .icon {
            width: 1em;
            margin-left: 1em;
            margin-right: -0.5em;
        }
    }

    @media (min-width: $screen-md-min) {
        &-subheading {
            font-size: 50px;
        }
    }
}
