.block-servico {
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 180px;
    border-bottom: 0;
    background-image: url(../images/banner-02.png);
    background-repeat: no-repeat;
    background-size: cover;

    img{

        margin-top: 100px;
        margin-bottom: 30px;
    }

    h2{
        margin-bottom: 20px;
    }

    p{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        color: #fff;
    }

}
