.block-fale-conosco{
	background-color: #e3e3e3;

	h2{
		margin-bottom: 25px;
	}

	p{
		color: #666;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

	.content{
		font-size: 1.6em;
		color: #000;
	}


	.btn{
		background-color: #ff8400;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: 1.5em;
		border-radius: 1px;
		padding-left: 2em;
        padding-right: 2em;
	}

	a.telefone{
		color: #000;
		font-size: 2em;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		text-decoration: none;
	}


	.email{
		margin-top: -50px;
		margin-left: 120px;
	}

	a.email{
		color: #000;
		font-size: 1.5em;
		text-decoration: none;
		font-family: 'Roboto Condensed', sans-serif;
	}

	address{
		margin-top: 30px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.3em;
		color: #666;
	}

	.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #666;
    border: 0;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #f1f1f1;
        background-color: #848383;
    }
}


}

#flash {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #333;
  color: #fff;
  transition: bottom .3s;
}

#flash.hide {
  display: block;
  bottom: -100%;
}

	#mapa{
	height: 504px;
	float: left;
	width: 100%;
	}

@media (max-width: $screen-md-min){

.block-fale-conosco{

	a.email{
		display: none;
	}


	address{
		margin-top: 60px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

   }
}