.block-tecnologia{
	background-color: #eee;
	padding-top: 190px;

	h2{
	margin-bottom: 25px;
	}
	
	img{
		margin-top: 30px;
		margin-bottom: 30px;

	}

	.logo-rei-tec{
		margin-top: 150px;
	}


	p{
		color: #666;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

	strong{
		color: #666;
	}

	figure{
		text-align: center;
	}

	.text-center{
		color: #000;
	}

	@media (max-width: $screen-md-min){
		background-image: none;
		
	}
}