@supports (-ms-ime-align:auto) {
  .phone, .icon-phone { display: none; } 
}

.frase-menu{
        font-size: 10px;
    }

    .navbar-default{
        background-color: #fff;
        border: 0;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .navbar-nav{
        margin-top: 8px;
    }

    .navbar-nav>li>a{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1em;
        margin-left: 20px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        padding-bottom: 10px;
        border-bottom: 2px solid #ffb05c;
        background-color: transparent;
    }


    .navbar-brand>img{
        display: inline;
        margin-right: 20px;
    }

        img.icon-phone{
        margin-top: 15px;
        margin-right: 25px;
        margin-left: 20px;
    }

    .phone{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        color: #808080;
}

    .navbar-toggle { 
        float: none;
        position: absolute;
        top: 20px;
        right: 15px;
        margin: 0;
        background: #ffb05c;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: #ffb05c;
    }

   @media (max-width: $screen-md-min){

    .frase-menu{
        display: none;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        padding-bottom: 0px;
        border-bottom: 0px;
    }

    .icon-phone{
        display: none;
    }

    .phone{
        display: none;
    }

   }
