.block-apresentacao{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #e3e3e3;

	h2{
		margin-top: 100px;
		margin-bottom: 25px;
	}


	p{
		color: #666;
		margin-bottom: 30px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

}

.bg-amarelo{

	background-color: #ff8400;
	color: #fff;

	.img-onibus{
		margin-left: -30px;
	}


	.content{

		margin-top: 120px;


	span.before:before{
	position: absolute;
	top: 60px;
    content: " ";
    background: url(../images/aspas_06.png);
    width: 47px;
    height: 39px;
    margin: 2px;
    float: left;
	}

	span.after:after{
	position: absolute;

    content: " ";
    background: url(../images/aspas_05.png);
    width: 51px;
    height: 39px;
    margin: 2px;
    margin-left: 500px;
	}

	p{
		font-size: 2.1em;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		margin-top: 55px;
	}

	} /*content*/


	}


@media (max-width: $screen-md-min){
.bg-amarelo{

	.content{
		margin-top: -30px;
		margin-bottom: 20px;
	}

	span.before:before{
		display: none;
	}

	span.after:after{
		display: none;
	}

	.img-onibus{
		display: none;
	}

}
}
