
.bg-amarelo-download{

	background-color: #ff8400;
	color: #fff;
	height: 390px;
	padding: 19px;



	span.img-onibus-download:after{
		content: " ";
		background: url(../images/img-pdf.png) no-repeat 0 0;
		background-size: cover;
		width: 748px;
		height: 465px;
		float: right;
		 position: relative;
		 right: -396px;
		 padding-top: 19px;
	}


	p{
		font-size: 2em;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		margin-top: 80px;
		height: 339px;
	}

	a{
		color: #fff;
		font-size: 1em;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: bold;
	}

	a.download-pdf:before{
    content: " ";
    background: url(../images/icon-pdf.png);
    width: 47px;
    height: 44px;
    margin: 2px;
    margin-right: 20px;
    float: left;
	}

}

@media (max-width: $screen-md-min){
	.bg-amarelo-download{
		

		.img-onibus-download{
			display: none;
		}

	}
}
