.block-banner {
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 250px;
    padding-bottom: 180px;
    border-bottom: 0;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
	

    .btn {
    	margin-top: 100px;
        padding-left: 1em;
        padding-right: 1em;
        background: none;
        border: 1px solid #fff;
        border-radius: 1px;
        font-size: 2em;
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
	
		a{
			color: #fff;
			text-decoration: none;
		}
    }


    .arrow-down{
    	margin-top: 25px;
    }


    @media (min-width: $screen-md-min) {

        .block-heading {
            margin-top: 9%;
        }
    }
}
