.block-diferenciais{
	background-color: #eee;
	padding-top: 190px;

	h2{
		margin-bottom: 25px;
	}

	p{
		color: #666;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

	@media (max-width: $screen-md-min){
		background-image: none;


	}
}