.block-implantacao{
    
    h2{
        margin-bottom: 25px;
    }

	span.arrow:before{
	position: absolute;
    top:0;
    left:0;
    content: " ";
    background: url(../images/arrow.png);
    width: 12px;
    height: 24px;
    margin: 1px;
    float: left;
	}

	span.arrow02:before{
	position: absolute;
    left:0;
    content: " ";
    background: url(../images/arrow.png);
    width: 12px;
    height: 24px;
    margin: 1px;
    float: left;
	}

	.content{
		margin-left: 5px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	strong{
		color: #666;
	}
}