.block-beneficios{
	background-color: #eee;
	padding-top: 190px;

	h2{
		margin-bottom: 25px;
	}

	img{
		padding-bottom: 40px;
	}

	p{
		color: #666;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.2em;
	}

	a{
		font-family: 'Roboto Condensed', sans-serif;
	}

	figure{
		text-align: center;
	}

	@media (max-width: $screen-md-min){
		background-image: none;


	}
}